body {
  font-family: sans-serif;
}

.container {
  padding: 16px 24px;
  display: flex;
  gap: 16px;
  & > div {
    flex-grow: 1;
  }
}

.results_grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
